.banner-section01 {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to bottom, #01166a, #5366b6);

  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.img-section01 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 60px;
  padding-bottom: 15px;
}

.img-section01 img {
  max-width: 600px;
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 10px 20px 4px rgba(35, 35, 35, 0.1);
}

.info-section01 {
  padding-left: 60px;
  width: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.info-section01 h1 {
  color: white;
  line-height: 120%;
  width: 550px;
  font-size: 70px;
  padding-bottom: 20px;
}

.info-section01 p {
  color: white;
  line-height: 170%;
  padding-bottom: 40px;
}

.info-section01 .button-info button {
  background-color: #d7047f;
  color: #ffff;
  border-color: #d7047f;
  width: 170px;
  padding: 20px 30px;
  border-radius: 60px;
  font-weight: bolder;
}
.info-section01 .button-info button:hover {
  border-color: white;
  background: transparent;
  transition: 0.3s ease-in;
}

/* ############################### */
.sucess-section02 {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-section02 {
  width: 950px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.intro-section02 h4 {
  color: #d7047f;
  font-weight: bold;
}

.intro-section02 h2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 60px;
}

.cards-section02 {
  width: 70vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.card-section02 {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 370px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-card {
  padding-top: 30px;
  padding-bottom: 25px;
}

.tittle-card {
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
}

.contents-card {
  width: 300px;
  text-align: center;
  padding-bottom: 35px;
}

.button-card {
  padding-bottom: 30px;
}

.button-card a {
  color: #d7047f;
  font-weight: bold;
}

/* ############################### */
.bar-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #01166a;
  padding: 50px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 60px;
  padding-left: 60px;
}

.info h3 {
  color: #d7047f;
  font-weight: bold;
  font-size: 50px;
}

.info p {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

/* ############################### */

.social-section03 {
  width: 100%;
  padding-top: 70px;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.intro-section03 {
  padding-left: 60px;
  width: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.intro-section03 h4 {
  color: #d7047f;
  font-weight: bold;
}

.intro-section03 h2 {
  text-align: left;
  font-size: 40px;
  padding-bottom: 30px;
}

.img-section03 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 60px;
  padding-bottom: 15px;
}
.img-section03 img {
  max-width: 600px;
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 10px 20px 4px rgba(35, 35, 35, 0.1);
}
